@font-face {
	font-family: "KlavikaBold";
    font-weight: 400;
	src: url(../font/klavika-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: "KlavikaLight";
    font-weight: 400;
	src: url(../font/klavika-light-webfont.woff) format('woff');
}

@font-face {
    font-family: "KlavikaMedium";
    font-weight: 400;
	src: url(../font/klavika-medium-webfont.woff) format('woff');
}

@font-face {
    font-family: "KlavikaRegular";
    font-weight: 400;
	src: url(../font/klavika-regular-webfont.woff) format('woff');
}

*{
    box-sizing: border-box;
}

html{
    width: 100%;
    min-height: 100%;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
	background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.loading{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: black;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1; 
    zoom: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: visibility 1s ease-in;
    transition: opacity 1s ease-in;
    -webkit-transition: visibility 1s ease-in; 
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: visibility 1s ease-in, opacity 1s ease-in;
    -o-transition: visibility 1s ease-in, opacity 1s ease-in; 
}

.loadingHidden{ 
    visibility: hidden;
    opacity: 0; 
    transition: visibility 0.5s ease-in, opacity 0.5s ease-in;
    -webkit-transition: visibility 0.5s ease-in, opacity 0.5s ease-in;
    -moz-transition: visibility 0.5s ease-in, opacity 0.5s ease-in;
    -o-transition: visibility 0.5s ease-in, opacity 0.5s ease-in; 
}

#monkImage{
    animation-name: appear;  
    animation-duration: .5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes appear {
    0% {
        transform: scale(.1);
    }

    80%{
        transform: scale(1.2);       
    }

    100% {
        transform: scale(1);
    }
}


#monkWrapper{
    margin: 0 auto;
    padding: 0;
    display: block;
    opacity: 1;
    width: 200px;
    height: 200px;
    /*background:transparent url(../images/smoke.gif) no-repeat center center; */
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: float;  
    animation-duration: 2s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes float {
    0% {
        transform: translatey(5px);
    }

    10%{
        transform: translatey(-80px);       
    }

    20% {
        transform: translatey(-15px);
    }

	30% {
		transform: translatey(0px);
    }

    40%{
        transform: translatey(2px);
    }

    45%{
        transform: translatey(3px);
    }

    47%{
        transform: translatey(0px);
    }

    48%{
        transform: translatey(-3px);
    }   

	50% {
		transform: translatey(-7px);
    }
    
    70%{
		transform: translatey(-20px);
    }

	100% {
        transform: translatey(0px);
	}
}

#animationMessage{
    margin: 0 auto;
    margin-top: 1%;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#patience{
    font-family: KlavikaLight;
    color: white;
    font-style: italic;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation-name: patience;  
    animation-duration: 2s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-iteration-count: 5;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes patience {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    
    5% {
        transform: scale(0);
    }

    7% {
        transform: scale(0);
    }

    10%{
        transform: scale(0.3);
    }

    13% {
        transform: scale(0.7);
    }

    15% {
        transform: scale(1);
    }

    17%{
        transform: scale(1.5);       
    }

    20% {
        transform: scale(1);
    }

    90%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

#youngPadawan{
    font-family: KlavikaLight;
    font-style: italic; 
    color: white;
    font-size: 0em;
    display: inline-block;
    opacity: 0;
    text-align: left;
    margin: 0;
    animation-name: padawan; 
    animation-duration: 2s; 
    animation-timing-function: linear; 
    animation-delay: 0;
    animation-iteration-count: 5;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes padawan {
    0% {
        opacity: 1;
        font-size: 0em;
    }

    51% {
        font-size: 0em;
    }

    52%{
        font-size: 0.1em;
    }

    54%{
        font-size: 1em;
    }  

    58%{
        font-size: 2em;
    }  

    60% {
        font-size: 2em;
    }

    90%{
        opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 2em
    }

}

#background{
    /*width: 100vw;
    height: 100vh;*/
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    transition: background-position 1.2s ease-in-out;
    -webkit-transition: background-position 1.2s ease-in-out; 
    z-index: 0;
}

.hidden { 
    opacity: 0; 
    visibility: hidden;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -moz-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in; 
}

.visible{
    opacity: 1; 
    visibility: visible;
    transition: visibility 1.2s ease-out, opacity 1.2s ease-out;
    -webkit-transition: visibility visibility 1.2s ease-out, opacity 1.2s ease-out;
    -moz-transition: visibility 1.2s ease-out, opacity 1.2s ease-out;
    -o-transition: visibility 1.2s ease-out, opacity 1.2s ease-out;         
}

.message{
    max-width: calc(100vw * 0.70);
    margin: 4%;
    display: inline-block;
}

#message1{
    position: absolute;
    left: 2%;
    top: 1%;
}

#message10{
    position: absolute;
    margin-right: 6%;
    top: 4%;
}

.messageLeft{
    position: fixed;
    left: 7%;
    top: calc(100vh * 0.35);
}

.messageRight{
    position: fixed;
    right: 7%;
    top: calc(100vh * 0.35);
    text-align: right;
}


.ptext{
    line-height: 0.9;
    margin: 0px;
}

.text{
    font-family: KlavikaLight;
    font-size: calc(100vw * 0.07); 
    font-weight: 600;
    color: rgb(233, 233, 233); 
    display: inline-block;
    border-bottom: 2px solid currentColor;
}

.button-container{
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    top: calc(50% - 70px);
    text-align: center;
}    

.button-container:hover .left-button{
    border: solid #e0e0e0;
    border-width: 0 0 3.2px 3.2px;
}

.button-container:hover .right-button{
    border: solid rgb(224, 224, 224);
    border-width: 3.2px 3.2px 0 0;
}

#left-button-container{
    position: absolute;
    left: 5%;
}

#right-button-container{
    position: absolute;
    right: 5%;
}      

.right-button {
    border: solid white;
    border-width: 3.2px 3.2px 0 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
    
.left-button {
    border: solid white;
    border-width: 0 0 3.2px 3.2px; 
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#initialText{
    position: absolute;
    font-family: KlavikaLight;
    font-size: calc(100% * 1.5); 
    display: inline-block;
    color: rgb(218, 218, 218);
    width: calc(100vw);  
    padding-left: 6%;
    padding-right: 6%;
    bottom: 15%;      
}

#grid{
    display: grid;  
    grid-template-columns: repeat(10, 1fr);   
    position: absolute;  
    width: calc(100vw * 0.50);
    padding: 0px;
    border-left: calc(100vh * 0.002) dotted white;
    border-top: calc(100vh * 0.002) dotted white;
    border-bottom: calc(100vh * 0.002) dotted white;
    left: 6%;
    bottom: 4.5%;
}

.pageSelector{
    font-family: KlavikaLight;
    font-size: 1.7em;
    border-right: calc(100vh * 0.002) dotted white;
    color: white;
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.pageSelector:hover{
    cursor: pointer;
    color: rgb(218, 218, 218);
}

.pageSelected{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 70%;
    height: 70%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    animation-name: pageselected; 
    animation-duration: .1s; 
    animation-timing-function: ease; 
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes pageselected {
    0% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }

}

#pageSelector0, #pageSelector9{
    color: transparent;
}

.pageSelectors{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#stepCounter{
    position: absolute;
    font-family: KlavikaLight;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 1em;
    color: rgb(218, 218, 218);
    width: 60%; 
    left: 6%;
    bottom: 8%;     
}

#final{
    position: absolute;
    font-family: KlavikaLight;
    font-size: calc(100% * 1.8);
    text-align: right;
    display: inline-block;
    color: rgb(218, 218, 218);
    width: 100%; 
    padding: 7%;
    top: 40%;  
    margin: 0px;  
    transition: 1s;
}

#linkCareers{
    text-decoration: underline;
    cursor: pointer;
}

#logo{
    display: inline-block;
    z-index: 1;
    position: absolute;
    width: 20%;
    right: 6%;
    bottom: 1%;
    cursor: pointer;
}

.svg-logo-mm{
    fill: white;
    width: 100%;
    height: 100%;
}

.media{
    display: inline-block;
    padding: 0px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 0em;
    margin-bottom: 0em;
    cursor: pointer;
}

.mediaTitle{
    padding: 0.1em;
    display: inline-block;
}

@media only screen and (min-width: 1200px) {

    #monkImage{
        animation-name: appear;  
        animation-duration: .5s; 
        animation-timing-function: ease-out; 
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: none;
        animation-play-state: running;
    }
    
    @keyframes appear {
        0% {
            transform: scale(.1);
        }
    
        80%{
            transform: scale(1.2);       
        }
    
        100% {
            transform: scale(1);
        }
    }
    
    
    #monkWrapper{
        margin: 0 auto;
        padding: 0;
        display: block;
        opacity: 1;
        width: 200px;
        height: 200px;
        /*background:transparent url(../images/smoke.gif) no-repeat center center; */
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-name: float;  
        animation-duration: 2s; 
        animation-timing-function: ease-out; 
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 5;
        animation-fill-mode: none;
        animation-play-state: running;
    }
    
    @keyframes float {
        0% {
            transform: translatey(5px);
        }
    
        10%{
            transform: translatey(-80px);       
        }
    
        20% {
            transform: translatey(-15px);
        }
    
        30% {
            transform: translatey(0px);
        }
    
        40%{
            transform: translatey(2px);
        }
    
        45%{
            transform: translatey(3px);
        }
    
        47%{
            transform: translatey(0px);
        }
    
        48%{
            transform: translatey(-3px);
        }   
    
        50% {
            transform: translatey(-7px);
        }
        
        70%{
            transform: translatey(-20px);
        }
    
        100% {
            transform: translatey(0px);
        }
    }
    
    #animationMessage{
        margin: 0 auto;
        margin-top: 1%;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    #patience{
        font-family: KlavikaLight;
        color: white;
        font-style: italic;
        font-size: 1em;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 0;
        opacity: 0;
        animation-name: patience;  
        animation-duration: 2s; 
        animation-timing-function: ease-out; 
        animation-delay: 0;
        animation-iteration-count: 5;
        animation-fill-mode: none;
        animation-play-state: running;
    }
    
    @keyframes patience {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        
        5% {
            transform: scale(0);
        }
    
        7% {
            transform: scale(0);
        }
    
        10%{
            transform: scale(0.3);
        }
    
        13% {
            transform: scale(0.7);
        }
    
        15% {
            transform: scale(1);
        }
    
        17%{
            transform: scale(1.5);       
        }
    
        20% {
            transform: scale(1);
        }
    
        90%{
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    
    }
    
    #youngPadawan{
        font-family: KlavikaLight;
        font-style: italic; 
        color: white;
        font-size: 0em;
        display: inline-block;
        opacity: 0;
        text-align: left;
        margin: 0;
        animation-name: padawan; 
        animation-duration: 2s; 
        animation-timing-function: linear; 
        animation-delay: 0;
        animation-iteration-count: 5;
        animation-fill-mode: none;
        animation-play-state: running;
    }
    
    @keyframes padawan {
        0% {
            opacity: 1;
            font-size: 0em;
    
        }
    
        51% {
            font-size: 0em;
        }
    
        52%{
            font-size: 0.1em;
        }
    
        54%{
            font-size: 0.5em;
        }  
    
        58%{
            font-size: 1em;
        }  
    
        90%{
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            font-size: 1em
        }
    
    }

    .message{
        max-width: 50%;
        margin: 2%;
        display: inline-block;
    }

    #message1{
        position: absolute;
        left: 0%;
        top: 0%;
    }

    #message10{
        position: absolute;
        margin-right: 2%;
        top: 2%;
    }

    .messageLeft{
        position: absolute;
        left: 3%;
        top: calc(100vh * 0.35);
    }

    .messageRight{
        position: absolute;
        right: 3%;
        top: calc(100vh * 0.35);
        text-align: right;
    }
    
    .ptext{
        line-height: 0.8;
        margin: 0px;
    }
    
    .text{
        font-family: KlavikaLight;
        font-size: calc(100vw * 0.029); 
        font-weight: 600;
        color: rgb(233, 233, 233); 
        display: inline-block;
        border-bottom: 1px solid currentColor;
    }

    .button-container{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 0px;
        padding: 0px;
        top: calc(50% - 70px);
        text-align: center;
    }    

    .button-container:hover .left-button{
        border: solid rgb(224, 224, 224);
        border-width: 0 0 2.2px 2.2px;
    }
    
    .button-container:hover .right-button{
        border: solid rgb(224, 224, 224);
        border-width: 2.2px 2.2px 0 0;
    }

    #left-button-container{
        position: absolute;
        left: 2%;
    }
    
    #right-button-container{
        position: absolute;
        right: 2%;
    }      

    .right-button {
        border: solid white;
        border-width: 2.2px 2.2px 0 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
        
    .left-button {
        border: solid white;
        border-width: 0 0 2.2px 2.2px; 
        display: inline-block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    #initialText{
        position: absolute;
        font-family: KlavikaLight;
        font-size: calc(100vw * 0.009); 
        display: inline-block;
        color: rgb(218, 218, 218);
        width: calc(100vw * 0.9);  
        padding-left: 2%;
        bottom: 12%; 
    }

    #grid{
        display: grid;  
        grid-template-columns: repeat(10, 1fr);   
        position: absolute;  
        width: calc(100vw * 0.13);
        /*min-width: 8%;*/
        padding: 0px;
        border-left: 1.5px dotted white;
        border-top: 1.5px dotted white;
        border-bottom: 1.5px dotted white;
        left: 2.1%;
        bottom: 4%;
    }

    .pageSelector{
        font-family: KlavikaLight;
        font-size: 0.9em;
        border-right: 1.5px dotted white;
        /*padding: 12% 7% 1% 7%;*/
        color: white;
        margin: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .pageSelector:hover{
        cursor: pointer;
        color: rgb(218, 218, 218);
    }

    .pageSelected{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 70%;
        height: 70%;
        background-color: white;
        margin: 0px;
        padding: 0px;
        animation-name: pageselected; 
        animation-duration: .1s; 
        animation-timing-function: ease; 
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-fill-mode: none;
        animation-play-state: running;
    }

    @keyframes pageselected {
        0% {
            width: 100%;
            height: 100%;
        }
    
        100% {
            width: 100%;
            height: 100%;
        }
    
    }

    #pageSelector0, #pageSelector9{
        color: transparent;
    }

    #stepCounter{
        position: absolute;
        font-family: KlavikaLight;
        font-size: 0.8em;
        display: inline-block;
        margin-bottom: 0px;
        color: rgb(218, 218, 218);
        width: 25%; 
        left: 16%;
        bottom: 4.2%;     
    }

    #final{
        position: absolute;
        font-family: KlavikaLight;
        font-size: 0.9em;
        text-align: right;
        display: inline-block;
        color: rgb(218, 218, 218);
        width: 30%; 
        padding: 2%;
        top: 40%;  
        right: -30%; 
        margin-right: 0%;   
        transition: 1s;
    }

    #linkCareers{
        text-decoration: underline;
        cursor: pointer;
    }

    #logo{
        display: inline-block;
        z-index: 1;
        position: absolute;
        width: calc(100vw * 0.07);
        right: 2%;
        bottom: 0%;
        cursor: pointer;
    }

    .svg-logo-mm{
        fill: white;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (orientation:landscape) and (max-width: 1200px) {
    .message{
        max-width: 80%;
        margin: 4%;
        display: inline-block;
    }
    
    #message1{
        position: absolute;
        left: 0%;
        top: 1%;
    }
    
    #message10{
        position: absolute;
        margin-right: 6.5%;
        top: 4%;
    }
    
    .messageLeft{
        position: fixed;
        left: 7%;
        top: calc(100vh * 0.24);
    }
    
    .messageRight{
        position: fixed;
        right: 7%;
        top: calc(100vh * 0.24);
    }
    
    
    .ptext{
        line-height: 0.9;
        margin: 0px;
    }
    
    .text{
        font-family: KlavikaLight;
        font-size: calc(100vh * 0.07); 
        font-weight: 600;
        color: rgb(233, 233, 233); 
        display: inline-block;
        border-bottom: 2px solid currentColor;
    }
    
    .button-container{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 0px;
        padding: 0px;
        top: calc(50% - 20px);
        text-align: center;
    }    
    
    .button-container:hover .left-button{
        border: solid rgb(224, 224, 224);
        border-width: 0 0 3.2px 3.2px;
    }
    
    .button-container:hover .right-button{
        border: solid rgb(224, 224, 224);
        border-width: 3.2px 3.2px 0 0;
    }
    
    #left-button-container{
        position: absolute;
        left: 5%;
    }
    
    #right-button-container{
        position: absolute;
        right: 5%;
    }      
    
    .right-button {
        border: solid white;
        border-width: 3.2px 3.2px 0 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
        
    .left-button {
        border: solid white;
        border-width: 0 0 3.2px 3.2px; 
        display: inline-block;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    #initialText{
        position: absolute;
        font-family: KlavikaLight;
        font-size: 1.2em;
        display: inline-block;
        color: rgb(218, 218, 218);
        width: 100%; 
        padding-left: 4.5%;
        bottom: 15%;      
    }
    
    #grid{
        display: grid;  
        grid-template-columns: repeat(10, 1fr);   
        position: absolute;  
        width: calc(100vw * 0.25);
        padding: 0px;
        border-left: 1.5px dotted white;
        border-top: 1.5px dotted white;
        border-bottom: 1.5px dotted white;
        left: 4.5%;
        bottom: 6%;
    }

    .pageSelector{
        font-family: KlavikaLight;
        font-size: 1em;
        border-right: 2px dotted white;
        color: white;
        margin: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .pageSelector:hover{
        cursor: pointer;
        color: rgb(218, 218, 218);
    }

    .pageSelected{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 70%;
        height: 70%;
        background-color: white;
        margin: 0px;
        padding: 0px;
        animation-name: pageselected; 
        animation-duration: .1s; 
        animation-timing-function: ease; 
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-fill-mode: none;
        animation-play-state: running;
    }

    @keyframes pageselected {
        0% {
            width: 100%;
            height: 100%;
        }
    
        100% {
            width: 100%;
            height: 100%;
        }
    
    }

    #pageSelector0, #pageSelector9{
        color: transparent;
    }
    
    #stepCounter{
        position: absolute;
        font-family: KlavikaLight;
        font-size: 1em;
        display: inline-block;
        margin-bottom: 0px;
        color: rgb(218, 218, 218);
        width: 60%; 
        left: calc(100vw * 0.30);
        bottom: 6%;     
    }
    
    #final{
        position: absolute;
        font-family: KlavikaLight;
        font-size: 1em;
        text-align: right;
        display: inline-block;
        color: rgb(218, 218, 218);
        width: 100%; 
        padding: 6%;
        top: 25%;  
        right: -30%;   
        margin-right: 0%;  
        transition: 1s;
    }
    
    #linkCareers{
        text-decoration: underline;
        cursor: pointer;
    }
    
    #logo{
        display: inline-block;
        z-index: 1;
        position: absolute;
        width: calc(100vw * 0.09);
        right: 5%;
        bottom: 0%;
        cursor: pointer;
    }
    
    .svg-logo-mm{
        fill: white;
        width: 100%;
        height: 100%;
    }
} 